$dark-gray-color: #1F2123;
$black-color: #131517;
$silver-gray-color: #F4F7FC;
$white-color: #FFFFFF;
$lighter-dark-gray-color: #37393B;
$lighter-silver-gray-color: #E7EBF5;
$light-green-color: #2DE014;