@use './../../styles/colors' as *;

.accordion {
  //max-width: 768px;
}
.accordion-item {
  list-style: none;
}
.accordion-toggle {
  &.dark {
    color: $lighter-dark-gray-color;
  }
  &.light {
    color: $lighter-dark-gray-color;
  }
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent !important;
  padding: 1em;
  font-size: 12px;
  transition-delay: 3ms;
}
.accordion-toggle:hover {
  background-color: transparent !important;
}
.accordion-toggle h3 {
  margin: 0;
}
.accordion-content {
  background-color: transparent !important;
  padding: 1em;
}
